body{
    background-color: rgba(87, 29, 221, 0.884);
}
.continer{
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgb(228, 208, 28);
}
div{
    margin: 30px;
    padding-left: 20px;
}
button{
    font-size: 20px;
    font-style:oblique;
}
#result{

    font-size: larger;
    font-weight: bold;
}
