body{
    background-color: rgb(236, 234, 234);

}
#container{    
         margin-left: 35%;
         margin-top:15%;
         margin-right:35%;
         border: 10px solid black;
         border-radius: 15px;
         background-color: rgb(217, 255, 0);
         padding:30px;
         text-align: center;
         padding-bottom: 100px;
}
div{
   margin: 30px;
   padding-left: 25px;
}
input{
    font-size: 25px;

}
button{
    font-size: 25px;
}
#result{
    font-size: 25px;
}